/* Gerais */
.primary-background{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}
.primary-color{
    color: #FFF;
}
.a-primary{
    color: #725C5C;
    text-decoration: none;
}
.second-background{
    background-color: #FDF1EB;
}
.p{
    color: #5C5C5C;
    font-weight: 700;
    font-size: 14px;
}
.btn-secondary{
    background: transparent;
    border: 1px solid #CCCCCC;
    color: #333333;
}
.btn-secondary:hover{
    background: transparent;
    border: 1px solid #CCCCCC;
    color: #333333;
}
/* End Gerais */

/* Body and Medias Query's  */

body {
    background-color: #fbfbfb;
    }
    @media (min-width: 991.98px) {
        main {
            padding-left: 200px;
        }
    }
    
    /* Sidebar */
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
        width: 190px;
        z-index: 600;
    }
    
    @media (max-width: 991.98px) {
        .sidebar {
            width: 100%;
        }
    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    }

    body, html{
        margin-bottom: 0;
        height: 50%;
    }
/* End Body and Medias Query's */
/* SideBar Menu */
#sidebarMenu h1{
    color: #FFF;
    font-weight: 700;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    text-align: center;
    font-size: 30px;
    height: 70px;
    padding-top: 10px;
}
#sidebarMenu .list-group{
    border-bottom: 1px solid #ECECEC;
}
#sidebarMenu .list-group #fixednavbar{
    padding: 0 0 0 0;
}
#sidebarMenu .list-group #fnavbar:hover{
    padding: 0 0 0 0;
    background: transparent;
}
#sidebarMenu .list-group #fixednavbar:hover{
    border-bottom: 1px solid #ECECEC;
    border-left: 5px solid #ED7839;
    background: #FDF1EB;
}
/* End SideBar Menu */
/* 1° Section */
#dados #t1{
    margin-top: 10px;
}
#dados .btn-secondary{
    background: red;
    color: #333333;
    border: 1px solid #CCCCCC;
}
#dados .btn-secondary:hover:active{
    background: transparent;
    color: #333333;
    border: 1px solid #CCCCCC;
}
#analise .analise{
    font-size: 20px;
    color: #ED7839;
    font-weight: 700;
}
#analise ul li{
    padding: 3px;
    justify-content: end;
}
#analise ul li a{
    background: #ED7839;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    font-weight: 600;
    border-radius: 5px;
}
.container-fluid #row{
    background: #FDF1EB ;
    color: #725C5C;
}
.container-fluid #head{
    margin-top: 7px;
}
.container-fluid #head .tittle{
    font-size: 16px;
    font-weight: 500;
}
.container-fluid #head p{
    font-size: 12px;
    margin-bottom: 0rem;
}
.container-fluid #head #p,
.container-fluid #head #p2{
    color: #333333;
    text-align: right;
}
.container-fluid #head #p{
    font-size: 20px;
    font-weight: 400;
}
.container-fluid #head #p2{
    font-size: 18px;
    font-weight: 300;
}
.container-fluid #head #avatar #img-pessoa{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* End 1° Section */
/* 2° Section */
#link #analise{
    color: #ED7839;
    font-weight: 700;
    font-size: 17px;
}
#link ul{
    padding-left: 50px;
    list-style-type: none;
}
#link ul li{
    padding: 0 6px;
}
#link ul li a{
    border-radius: 5px;
    color: #FFF;
    font-size: 17.2px;
    padding: 10px 5px 10px 5px;
    background: #ED7839;
}
#detalhes .row{
    width: 41.6%;
}
/* End 2° Section */
/* 3° Section */
.container #citar{
    font-weight: 900;
    font-size: 14px;
    color: #ED7839;
    text-align: end;
    padding-right: 55px;
}
.container .row #tittle{
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    position: relative;
}
.container #Image{
    background: url(img/dewey1.png) no-repeat  rgba(141, 52, 6, 0.5);
    background-size:cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -khtml-background-size: cover;
    -moz-background-size: cover;
    height: 62%;
}
.container #Iimage{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    width: 50%;
    margin: 30px;
}
.container #bethoven{
    position: absolute;
    border-radius: 100%;
    border: 1px solid #ED7839;
    padding: 3px 3px 3px 3px;
    margin-left: 25px;
    margin-top: 255px;
}
.container #imgNome{
    position: absolute;
    color: #FFF;
    font-weight: 700;
    margin-left: 125px;
    margin-top: 265px;
}
.container #imgSub{
    position: absolute;
    color: #FFF;
    font-weight: 700;
    font-size: 19px;
    width: 40%;
    margin-left: 125px;
    margin-top: 300px;
}
.container #separacao{
    border: 1px solid #ECECEC;
}
.container #separacao{
    height: 62%;
    overflow: scroll;
}
.container #separacao .tittle{
    background: #FDF1EB;
}
.container #separacao h1{
    font-weight: 600;
    color: #4E4E4E;
    font-size: 25px;
    padding: 15px 15px;
}
.container #separacao #spandet{
    font-weight: 600;
    color: #5C5C5C;
}
.container #separacao .list-group .list-group-item{
    border: transparent;
}
.container #separacao .list-group  #lista{
    color:#5C5C5C; 
}
.container #separacao #subspan{
    color: #FDF1EB;
    font-size: 12px;
}
/* End 3° Section*/
/* 4° Section*/
#resumo{
    border: 1px solid #ECECEC;
    margin-bottom: 260px;
    margin-top: -220px;
}
#resumo .row{
    margin-bottom: 15px;
}
#resumo .tittle{
    background: #FDF1EB;
}
#resumo h1{
    font-weight: 600;
    color: #4E4E4E;
    font-size: 25px;
    padding: 15px 15px;
}
#resumo h2{
    color: #ED7839;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin-top: 20px;
}
#resumo p{
    margin-top: 20px;
}

#resumo #mais{
    display: none;
}
#resumo #btnLerMais #ver{
    color: #ED7839;
    font-weight: bold;
}
#resumo #btnLerMais #ver:hover{
    color: #cc5a1d;
}

/* End 4° Section */
/* 5° Section */
#resumo #bottom-icons{
    padding: 15px;
}
#resumo #pDisc{
    text-align: center;
}
#resumo #botao{
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #E7E7E7;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#resumo #botao .btntopico{
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: #FFF;

}#resumo #botao a #mais{
    font-size: 24px;
    color: #FFF;
    font-weight: 700;
}
#resumo #form{
    display: none;
}
#resumo #form #tituloFormulario{
    font-size: 16px;
    color: #ED7839;
    font-weight: 700;
}
#resumo #form #divForm{
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    text-align: right;
}
#resumo #form #botaoForm{
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-color: #ED7839;
    padding: 4px 100px 4px 100px;
}
#resumo #assunto{
    margin-bottom: 10px;
}
#resumo #assunto,
#resumo #assunto1{
    margin-left: 10px;
    width: 98%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
#resumo #assunto .t2,
#resumo #assunto1 .t2{
    color: #ED7839;
    font-weight: 700;
    font-size: 20px;
}
#resumo #assunto #text,
#resumo #assunto1 #text{
    color: #4D4D4D;
}
#resumo #assunto #icons #bottom-navbar:hover{
    border: transparent;
    background: transparent;
    box-shadow: transparent;
}
#resumo #assunto #icons #bottom-navbar ul,
#resumo #assunto1 #icons #bottom-navbar ul{
    font-size: 10px;
}
#resumo #assunto #icons #bottom-navbar li a,
#resumo #assunto1 #icons #bottom-navbar li a{
    text-decoration: none;
    color: #757575;
}
#resumo #mais2,
#resumo #mais3{
    padding: 0;
    margin: 0;
    display: none;
}
#resumo #btnLerMais2 #ver2,
#resumo #btnLerMais3 #ver3{
    color: #757575;
}
#resumo #mais2 #assunto2,
#resumo #mais3 #assunto4{
    background: #E7E7E7;
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    border-radius: 0px;
    box-sizing: border-box;
    width: 98%;
    margin-left: 10px;
    padding: 2px 10px;
}
#resumo #mais2 #assunto2 #divisaoNomes #nomee,
#resumo #mais3 #assunto4 #divisaoNomes #nomee{
    color: #5C5C5C;
    font-weight: 700;
    font-size: 14px;
}
#resumo #mais2 #assunto2 #divisaoNomes #veri1,
#resumo #mais3 #assunto4 #divisaoNomes #veri1{
    text-align: end;
    padding-top: 10px;
}
#resumo #mais2 #assunto2 #veri #divisaoNomes #nomee,
#resumo #mais3 #assunto4 #veri #divisaoNomes #nomee{
    text-align: end;
}
#resumo #mais2 #assunto2 #veri1 .bi,
#resumo #mais3 #assunto4 #veri1 .bi{
    color: #ED7839;
    font-size: 25px;
    font-weight: 900;
}
#resumo #mais2 #assunto2 #veri1 #verificado,
#resumo #mais3 #assunto4 #veri1 #verificado{
    color: #ED7839;
    font-size: 16px;
    font-weight: 700;
}
#resumo #mais2 #assunto2 #nome #verificado,
#resumo #mais3 #assunto4 #nome #verificado{
    text-align: end;
}
#resumo #mais2 #assunto2 #nav-p,
#resumo #mais2 #assunto3 #text{
    color: #4D4D4D;
}
#resumo #mais2 #assunto3{
    margin-left: 10px;
    width: 98%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 2px 10px;
}
/* End 5° Section */
/* Footer Section */
footer #imgfooter{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}
/* End Footer Section*/